:root{
    --height-header: 10svh;
    --end-color: rgb(138, 138, 138);
    --menu-color: rgb(0, 191, 255);
    --back-color: rgb(255, 255, 255) ;
    --sec-text-color: rgb(209, 209, 209);
    --rotate: -20deg; 
    --back-rotate: 20deg;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body{
    background-color: var(--end-color);
}

header{
    height: var(--height-header);
    width: var(--height-header);
    position: absolute;
    border-radius: 0 0 100% ;
    background-color: var(--menu-color);
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    position: absolute;
    width: 100%;
    height: 100svh;
    display:flex;
    justify-content: center;
}

h2{
    font-size: 4rem;
}

p{
    font-size: 1rem;
}

img{
    width: 100%;
}

.header-space{
    content: "";
    height: var(--height-header)
}

.move-container{
    transform-origin: top left;
    background-color: var(--back-color);
    width: 100%;
    min-height: 100%;
    transition: transform 500ms ease-in-out;
    display:flex;
    justify-content: center;
}

.sub-container{
    width: 50%;
}

.rotate{
    transform: rotate(var(--rotate));
}

footer{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: -20%;
    transform-origin: top center;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.footer-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.options{
    position: absolute;
    bottom: 0;
    right: 5%;
}

.org-tp-rg{
    margin: 1rem;
    transform-origin: top right;
    transition: transform 500ms ease-in-out;
}

.unrotate{
    transform: rotate(var(--back-rotate));
}

.menu-text{
    font-size: 2rem;
    color: var(--sec-text-color)
}

.sub{
    font-size: 2rem;
    color: var(--sec-text-color)
}

.corner {
    /* border: solid red; */
    transform: translateX(-50%) translateY(-15%);
    width: 40%;
    height: 40%;
    background-size: cover;
    content: "f0c9";
    background-image: url(https://img.icons8.com/?size=100&id=8113&format=png&color=000000);

  }

.on-menu{
    background-image: url(https://img.icons8.com/?size=100&id=8112&format=png&color=000000); 
    
    /* border: solid red; */
}