:root{
    --load-color: #3498db;
    --empty-color:#e0e0e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
}

main{
    height: 100svh;
    width: 100svw;
    display: grid;
    place-items: center;
}

section{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section>h2{
    font-size: 3rem;
    margin-bottom: 2%;
    color: var(--empty-color)
}

.elements{   
    width: 50%;
    position:relative;
}

.steps{
    width: 100%;
    display:flex;
    justify-content:space-between;
}

.dot{
    border: solid 5px ;
    border-color: var(--empty-color);
    background-color: white;
    color: var(--empty-color);
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    z-index: 99;
    display:flex;
    align-items: center;
    justify-content: center;
}

.load{
    border-color: var(--load-color);
    color: var(--load-color);
}

.line{
    content:"";
    background-color: var(--empty-color);
    overflow: hidden;
    width: 100%;
    height: 10%;
    position:absolute;
    top: 45%;   
}

.in-line{
    display:block;
    height: 100%;
    width: 0%;
    background-color:var(--load-color);
    transition: 250ms ease-in;
}

.buttons{
    margin-top: 2%;
    min-width: 15%;
    display:flex;
    justify-content: space-between;
}

.btn{
    background-color: var(--empty-color);
    border-radius: 0.75rem;
    font-size: 1em;
    color: white;
    padding: 5% 10%;
    cursor:no-drop;
}

.act{
    background-color: var(--load-color);
    cursor: pointer;
}